**Muh. Thariq Fayiz Syahputra A**

**E1E121070**

**Sistem Memprediksi Harga Mobil Merek Toyota Menggunakan Algoritma K-Nearest Neighbors**

# 1. Import libraries yang diperlukan

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.metrics as metrics

# 2. Load data harga mobil bekas merek Toyota berdasarkan lokasi data

In [ ]:
data_location='/content/sample_data/toyota.csv'
row_data = pd.read_csv(data_location)
row_data.shape

(6738, 9)

# Bagian Baru

In [ ]:
row_data.describe

<bound method NDFrame.describe of                model  year  price transmission  mileage fuelType  tax   mpg  \
0               GT86  2016  16000       Manual    24089   Petrol  265  36.2
1               GT86  2017  15995       Manual    18615   Petrol  145  36.2
2               GT86  2015  13998       Manual    27469   Petrol  265  36.2
3               GT86  2017  18998       Manual    14736   Petrol  150  36.2
4               GT86  2017  17498       Manual    36284   Petrol  145  36.2
...              ...   ...    ...          ...      ...      ...  ...   ...
6733              IQ  2011   5500    Automatic    30000   Petrol   20  58.9
6734   Urban Cruiser  2011   4985       Manual    36154   Petrol  125  50.4
6735   Urban Cruiser  2012   4995       Manual    46000   Diesel  125  57.6
6736   Urban Cruiser  2011   3995       Manual    60700   Petrol  125  50.4
6737   Urban Cruiser  2011   4495       Manual    45128   Petrol  125  50.4

      engineSize
0            2.0
1            2.0
2            2.0
3            2.0
4            2.0
...          ...
6733         1.0
6734         1.3
6735         1.4
6736         1.3
6737         1.3

[6738 rows x 9 columns]>

# 3. Bersihkan data yang tidak lengkap (kalau ada)

In [ ]:
data = row_data.dropna(axis=0)
data.describe()

,year,price,mileage,tax,mpg,engineSize
count,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000,6738.000000
mean,2016.748145,12522.391066,22857.413921,94.697240,63.042223,1.471297
std,2.204062,6345.017587,19125.464147,73.880776,15.836710,0.436159
min,1998.000000,850.000000,2.000000,0.000000,2.800000,0.000000
25%,2016.000000,8290.000000,9446.000000,0.000000,55.400000,1.000000
50%,2017.000000,10795.000000,18513.000000,135.000000,62.800000,1.500000
75%,2018.000000,14995.000000,31063.750000,145.000000,69.000000,1.800000
max,2020.000000,59995.000000,174419.000000,565.000000,235.000000,4.500000

Memeriksa tipe data mana saja yang bernilai integer dan float untuk diolah selanjutnya

In [ ]:
print (row_data.dtypes)

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

# 4. Definisikan input output data yang menggunakan tipe data integer dan float

In [ ]:
features = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
x = data[features]
y = data['price']
x.shape, y.shape

((6738, 5), (6738,))

# 5. Membagi data untuk training dan validasi (test)

In [ ]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 70)

In [ ]:
test_y.shape

(1685,)

# 6. Membangun machine learning model dengan algoritma K-Nearest Neighbors

In [ ]:
from sklearn.neighbors import KNeighborsRegressor as KNN_Reg
from sklearn.metrics import mean_squared_error as mse

model = KNN_Reg(n_neighbors = 80)

# training the model:
model.fit(train_x, train_y)
acc1 = model.score(test_x, test_y)

# test for prediction
test_predict = model.predict(test_x)
score = mse(test_predict, test_y)
print(' MSE: ', score, '\n', 'Accuracy: ', acc1)

 MSE:  34239793.2395612
 Accuracy:  0.09914822203322793